<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Petshop</display-name>
 
 <servlet>
 	<servlet-name>cadastrar</servlet-name>
 	<servlet-class>petshop.controller.cadastrarProdutorController</servlet-class>
 </servlet>
 
 <servlet-mapping>
 	<servlet-name>cadastrar</servlet-name>
 	<url-pattern>/cadastrarProdutor</url-pattern>
 </servlet-mapping>
 
 <servlet>
 	<servlet-name>buscar</servlet-name>
 	<servlet-class>petshop.controller.buscarProdutoController</servlet-class>
 </servlet>
 
 <servlet-mapping>
 	<servlet-name>buscar</servlet-name>
 	<url-pattern>/buscarProduto</url-pattern>
 </servlet-mapping>

 
</web-app>